<ion-header>
  <ion-navbar hideBackButton>
    <ion-title>
      Busca
    </ion-title>
    <ion-buttons end>
      <button ion-button clear color="dark" (click)="deslogar()">Sair</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div style="text-align: center">
    <ion-card>
      <a href="http://siscontroladoras.com.br/"><img src="assets/imgs/banner.jpg" /></a>
    </ion-card>
    <img src="assets/imgs/logo_universidadedaspragas.png" />
    <p>Desenvolvido por <i>SUCH a Software</i></p>
    <p>Em parceria com <i>SIS Controladoras</i></p>
  </div>
  <h2 style="text-align: center">
    Buscar no Wiki Pragas
  </h2>
  <ion-searchbar placeholder="Digite aqui sua pesquisa" [(ngModel)]="textoBusca"></ion-searchbar>
  <div style="text-align: center">
    <button ion-button round color="unipragas" (click)="buscarWiki()">Buscar</button>
  </div>

  <ion-card *ngFor="let pergunta of perguntas;let i = index" (click)="openAnswer(i)">
    <ion-card-header style="background-color: #efefef">
      {{ pergunta.pergunta }}
    </ion-card-header>
  </ion-card>

  <h2 style="text-align: center">Histórico</h2>
  <ion-card *ngFor="let pergunta of perguntasSalvas;let i = index" (click)="refazerBusca(i)">
    <div style="text-align: center">
      <ion-card-header style="background-color: #efefef">
        {{ pergunta }}
      </ion-card-header>
    </div>
  </ion-card>
</ion-content>