<ion-header>
  <ion-navbar hideBackButton>
    <ion-title>
      Busca
    </ion-title>
    <ion-buttons end>
      <button ion-button clear color="dark" (click)="deslogar()">Sair</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div style="text-align: center">
    <img src="assets/imgs/logoSIS.jpg" />
  </div>
  <h2 style="text-align: center">
    Buscar no SIS Wiki
  </h2>
  <ion-searchbar placeholder="Digite aqui sua pesquisa" [(ngModel)]="textoBusca"></ion-searchbar>
  <div style="text-align: center">
    <button ion-button color="#168D9D" round (click)="buscarWiki()">Buscar</button>
  </div>

  <ion-card *ngFor="let pergunta of perguntas;let i = index" (click)="openAnswer(i)">
    <ion-card-header>
      {{ pergunta.pergunta }}
    </ion-card-header>
  </ion-card>

  <h2 style="text-align: center">Histórico</h2>
  <ion-card *ngFor="let pergunta of perguntasSalvas;let i = index" (click)="refazerBusca(i)">
    <ion-card-header>
      {{ pergunta }}
    </ion-card-header>
  </ion-card>
</ion-content>